mysql:
  dbname: id:password@tcp(your-DB-uri.com:3306)/dbname
  query: select email, name from user where deleted = 0

mail:
  file: mailbody.txt
  from: foo@bar.com

aws:
  profile: your-credentials-profile
  region: us-west-2
  arn: arn:aws:ses:us-west-2:foobar........
